/* Colors */
.type-black {
  color: #0e0b0c;
}

.type-grey {
  color: #454954;
}

.type-white {
  color: #f3eff5;
}

.type-blue {
  color: #1d7eaf;
}

.type-dark-blue {
  color: #1f5c7a;
}

.black {
  background-color: #0e0b0c;
}

.grey {
  background-color: #454954;
}

.white {
  background-color: #f3eff5;
}

.blue {
  background-color: #1d7eaf;
}

.dark-blue {
  background-color: #1f5c7a;
}

/* Sizes */
html {
  font-size: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 112.5%;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.3rem;
}

/* Font Families */
h1, h2, h3, h4, h5, h6 {
  font-family: "abril-display", serif;
  font-weight: 400;
  margin: 1rem 0;
}

p, ul, ol, figcaption, a {
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  max-width: 65ch;
  line-height: 1.5rem;
}

.special {
  font-family: "flood-std", sans-serif;
}

.display-heading {
  font-family: "abril-display", serif;
  font-weight: 400;
}

/* Colors */
.black {
  color: #0e0b0c;
}

.grey {
  color: #454954;
}

.white {
  color: #f3eff5;
}

.blue {
  color: #1d7eaf;
}

.dark-blue {
  color: #1f5c7a;
}

/* Article Styles */
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-left: 1rem;
}

article p, article ol, article ul, article .display, article .special {
  margin-left: 1rem;
  padding-left: 2rem;
}

article .border {
  border-left: 0.2rem dotted #1f5c7a;
}

.dark-mode {
  background-color: #454954;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode p, .dark-mode ol, .dark-mode ul, .dark-mode a, .dark-mode figcaption {
  color: #f3eff5;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3eff5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  color: #0e0b0c;
}

*:focus {
  outline: 0.2rem solid #454954;
}

/* Skip To Content */
.skip {
  text-decoration: none;
  color: #f3eff5;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  top: -10rem;
  z-index: 99;
  background: #1d7eaf;
  padding: 1rem;
}

.skip:focus {
  top: 0;
  color: #f3eff5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #454954;
  padding: .5rem 2rem;
}

nav header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

nav header h2 {
  font-weight: 400;
  margin: 0 0 0 .5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav header h2 .big {
  font-size: 5rem;
  text-decoration: none;
  color: #1d7eaf;
}

nav header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
}

nav header img {
  max-width: 3rem;
  background-color: #1d7eaf;
  padding: 1rem;
  border-radius: 50%;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

nav header img:hover, nav header img:focus {
  background-color: #454954;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

nav ul li + li {
  margin-left: 0.2rem;
}

nav ul li {
  list-style: none;
  padding: 0;
}

nav ul li a, nav ul li button {
  border: none;
  text-decoration: none;
  color: #f3eff5;
  text-transform: uppercase;
  padding: .5rem;
  background-color: #1d7eaf;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

nav ul li a i, nav ul li button i {
  font-size: 1rem !important;
  position: relative;
  top: 25%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  margin-right: 0.2rem;
}

nav ul li a:hover, nav ul li button:hover {
  background-color: #454954;
}

/* Top Image Section */
.hero {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 46, 60, 0.5)), to(rgba(16, 46, 61, 0.5))), url("../images/hero.jpg");
  background: linear-gradient(0deg, rgba(16, 46, 60, 0.5), rgba(16, 46, 61, 0.5)), url("../images/hero.jpg");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: #f3eff5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
}

.hero figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.hero figure img {
  background-color: #f3eff5;
  border-radius: 50%;
  padding: 1rem;
  max-width: 5rem;
}

.hero h1 {
  text-shadow: 0.125rem 0.125rem #0e0b0c;
  font-weight: 700;
  margin: 0;
}

.hero h1 .big {
  font-size: 5rem;
  color: #1d7eaf;
  text-shadow: 0.125rem 0.125rem #0e0b0c;
}

/* Color Display */
.display {
  margin: 0 auto !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.display p {
  margin: 0 !important;
  padding: 0 !important;
}

.display-colors {
  height: 10rem;
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.display-colors p {
  text-align: center;
  margin: 1rem;
  text-transform: lowercase;
  word-break: keep-all;
}
/*# sourceMappingURL=style.css.map */