@mixin flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
}

@mixin flex-space-between {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

@mixin flex-space-around {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
}

@mixin navigation {
    @include flex-space-between;
    color: $grey;
    padding: .5rem 2rem;

    header {
        @include flex-center;
        h2 {
            font-weight: 400;
            margin: 0 0 0 .5rem;
            align-self: center;

            .big {
                font-size: 5rem;
                text-decoration: none;
                color: $blue;
            }
        }
        figure {
            @include flex-center;
            margin: 0;
        }
    
        img {
            max-width: 3rem;
            background-color: $blue;
            padding: 1rem;
            border-radius: 50%;
            transition: background-color 0.5s ease-in;

            &:hover, &:focus {
                background-color: $grey;
            }
        }
    }

    ul {
        @include flex-center;
        padding: 0;
        margin: 0;

        li + li {
            margin-left: 0.2rem;
        }

        li {
            list-style: none;
            padding: 0;
            a, button {
                border: none;
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
                padding: .5rem;
                background-color: $blue;
                transition: background-color 0.5s ease-in;

                i {
                    font-size: 1rem !important;
                    position: relative;
                    top: 25%;
                    transform: translateY(-25%);
                    margin-right: 0.2rem;
                }

                &:hover {
                    background-color: $grey;
                }
            }
        }
    }
}