
/* Sizes */

html {
    font-size: 100%;

    @media (min-width: 768px) {
        font-size: 112.5%; // = 18 pixels in most browsers
      }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
}

/* Font Families */

h1, h2, h3, h4, h5, h6 {
    font-family: "abril-display", serif;
    font-weight: 400;
    margin: 1rem 0;
}

p, ul, ol, figcaption, a {
    font-family: "acumin-pro", sans-serif;
    font-weight: 400;
    max-width: 65ch;
    line-height: 1.5rem;
}

.special {
    font-family: "flood-std", sans-serif;
}

.display-heading {
    font-family: "abril-display", serif;
    font-weight: 400;
}

/* Colors */

.black {
    color: $black;
}

.grey {
    color: $grey;
}

.white {
    color: $white;
}

.blue {
    color: $blue;
}

.dark-blue {
    color: $dark-blue;
}

/* Article Styles */

article {
    h1, h2, h3, h4, h5, h6 {
        margin-left: 1rem;
    }
    p, ol, ul, .display, .special {
        margin-left: 1rem;
        padding-left: 2rem;
    }

    .border {
        border-left: 0.2rem dotted $dark-blue;
    }
}